/* Features.css */
.features-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.features-heading {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10dvw;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 1.5rem;
    color: #007BFF;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 1rem;
    color: #555;
}

.features-learn-button {
    margin-top: 20dvh;
    width: 100%;
    display: flex;
    justify-content: center;
}