.parallax-container {
    position: relative;
    height: 350dvh; /* Height of the entire content (3 times the viewport height) */
}

/* br {
    margin: 0;
    padding: 0;
    line-height: normal;
} */